Source: sv-commix
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-commix
Architecture: all
Depends: svent-core, commix, ${misc:Depends}
Description: Svent web tool: commix
 Installs commix and registers it in the Svent catalog and menu.
