Source: sv-tools-web
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-tools-web
Architecture: all
Depends: svent-core (>= 0.4.3), sv-burpsuite, sv-commix, sv-dalfox, sv-dirb, sv-feroxbuster, sv-ffuf, sv-gau, sv-gobuster, sv-hakrawler, sv-nikto, sv-nuclei, sv-sqlmap, sv-wafw00f, sv-wapiti, sv-waybackurls, sv-wfuzz, sv-whatweb, sv-wpscan, ${misc:Depends}
Description: Svent web tool group
 Installs every Svent tool in the web category.
