Source: sv-tools-web
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-tools-web
Architecture: all
Depends: svent-core, sv-nuclei, sv-dalfox, sv-gau, sv-waybackurls, sv-hakrawler, sv-sqlmap, sv-ffuf, ${misc:Depends}
Description: Svent web tool group
 Installs every Svent tool in the web category.
