#!/usr/bin/make -f
PKG = sv-wapiti
PIP = wapiti3
EXE = wapiti
PREFIX = /opt/$(PKG)
DESTDIR = $(CURDIR)/debian/$(PKG)

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	rm -rf $(CURDIR)/.venv
	python3 -m venv $(CURDIR)/.venv
	$(CURDIR)/.venv/bin/pip install --no-cache-dir --upgrade pip wheel
	$(CURDIR)/.venv/bin/pip install --no-cache-dir $(PIP)
	mkdir -p $(DESTDIR)$(PREFIX)
	cp -a $(CURDIR)/.venv/. $(DESTDIR)$(PREFIX)/
	find $(DESTDIR)$(PREFIX)/bin -type f -exec sed -i "1s|$(CURDIR)/.venv|$(PREFIX)|" {} +
	sed -i "s|$(CURDIR)/.venv|$(PREFIX)|g" $(DESTDIR)$(PREFIX)/pyvenv.cfg
	mkdir -p $(DESTDIR)/usr/bin
	ln -sf $(PREFIX)/bin/$(EXE) $(DESTDIR)/usr/bin/$(EXE)
	mkdir -p $(DESTDIR)/usr/share/svent/catalog.d
	cp catalog.d/$(EXE).json $(DESTDIR)/usr/share/svent/catalog.d/

override_dh_auto_clean:
	rm -rf $(CURDIR)/.venv

override_dh_strip:
override_dh_dwz:
override_dh_shlibdeps:
	dh_shlibdeps || true
