Source: sv-gau
Section: net
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13), golang-go (>= 2:1.24~), ca-certificates, gcc, libc6-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-gau
Architecture: amd64
Depends: svent-core, ${shlibs:Depends}, ${misc:Depends}
Description: Svent web tool: gau
 Built from upstream source.
