[Desktop Entry]
Version=1.0
Type=Application
Name=Burp Suite (Community)
Comment=Web application security testing
Exec=/usr/bin/burpsuite
Icon=sv-burpsuite
Terminal=false
Categories=Network;Security;
StartupNotify=true
