Source: sv-nuclei
Section: net
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-nuclei
Architecture: amd64
Depends: svent-core, ${shlibs:Depends}, ${misc:Depends}
Description: Svent web tool: nuclei
 Built from upstream source.
